@import "tailwindcss";

:root {
  --background: #f3f0ea;
  --foreground: #12151c;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

* {
  box-sizing: border-box;
}
